* {
  font-family: 'Roboto', sans-serif;
}

:root {
  --color: #222433;
  --shadow: 1px 2px 20px 0 rgba(0, 0, 0, 0.1);
  --radius: 8px;
  user-select: none;
}

.center {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.branding {
  padding: 25px;
  justify-content: flex-start;
}

.header {
  background: #dedede;
  height: 300px;
  align-items: center;
}

.tag>div {
  margin: 5px;
  box-shadow: var(--shadow);
}

.content {
  display: flex;
}

.job {
  margin: 25px;
  background: #ffffff;
  width: 200px;
  height: 200px;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  size: 100%;
  transition: all 0.2s;
}

.job .desc {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 390px;
  width: 200px;
}

.job:hover {
  box-shadow: 1px 2px 20px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.footer {
  border-top: 1px solid var(--color);
}